$alert-blue: #cce5ff;
$alert-grey: #e2e3e5;
$alert-green: #d4edda;
$alert-red: #f8d7da;
$alert-orange: #fff3cd;
$alert-aqua: #d1ecf1;
$alert-darkgray: #d6d8d9;

@mixin alert-color($base) {
  background-color: $base;
  border-color: darken($base, 10%);
  color: darken($base, 60%);
}

.alert {
  border: thin solid #eeeeee;
  border-radius: .25em;
  padding: 1em;
}

.alert--blue {
  @include alert-color($alert-blue);
}
.alert--grey {
  @include alert-color($alert-grey);
}
.alert--green {
  @include alert-color($alert-green);
}
.alert--red {
  @include alert-color($alert-red);
}
.alert--orange {
  @include alert-color($alert-orange);
}
.alert--aqua {
  @include alert-color($alert-aqua);
}
.alert--darkgray {
  @include alert-color($alert-darkgray);
}
