.site-navigation {
  padding: 15px 25px;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-end;

    li {
      padding-left: 1em;
    }

    li.active a,
    li a:hover {
      color: #517ec1;
    }
  }
}
