body {
  box-sizing: border-box;

  padding-top: 30px;
  padding-bottom: 30px;

  color: #666666;
  font: 20px 'Lato', sans-serif;
  line-height: 1.6;

  @media screen and (max-width: 1078px) {
    padding: 15px 0;
  }
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

iframe {
  max-width: 100%;
}

p {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
}

a {
  color: #444444;

  &:hover {
    color: #517ec1;
  }
}

dt {
  font-weight: bold;
  padding-top: 1.1em;
}

ul, ol {
  margin-left: 2em;
  margin-bottom: 2em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}
