// TODO: This could probably be extracted a bit.

.page-content {
  margin-top: 40px;
  max-width: 800px;
  margin: 0 auto;
}

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;

  // Top/Bottom Left/Right
  padding: 0 25px;
}
